<footer id="footer-to-load" class="container-fluid footer-evt">
    <!-- About us -->
    <div class="row text-center text-md-left">
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">QUIÉNES SOMOS</h6>
            <p class="text-justify">Somos un grupo de personas amantes de la naturaleza y más concretamente, del
                Everest y queremos que personas, con las condiciones físicas y psicológicas adecuadas para ello,
                también puedan ir a descubrirlo.</p>
        </div>

        <hr class="w-100 clearfix d-md-none">

        <!-- Internal links -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">ENLACES INTERNOS</h6>
            <p>
                <a href="index.html">INICIO</a>
            </p>
            <p>
                <a href="rutas.html">RUTAS</a>
            </p>
            <p>
                <a href="contacto.html">CONTACTO</a>
            </p>
        </div>

        <hr class="w-100 clearfix d-md-none">

        <!-- External links -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">ENLACES EXTERNOS</h6>
            <p>
                <a href="#!">Comprar equipos de escalada</a>
            </p>
            <p>
                <a href="#!">Consejos de escalada</a>
            </p>
            <p>
                <a href="#!">Agencia de viajes</a>
            </p>
        </div>

        <hr class="w-100 clearfix d-md-none">

        <!-- Contact -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">CONTACTA CON NOSOTROS</h6>
            <p>
                <a href="contacto.html"><i class="fa fa-edit mr-3"></i>Formulario de contacto</a>
            </p>
            <p>
                <i class="fa fa-envelope mr-3"></i>info@turismoeverest.com
            </p>
            <p>
                <i class="fa fa-phone mr-3"></i>+34 655 44 33 22
            </p>
        </div>
    </div>

    <hr>

    <!-- Copyright -->
    <div class="row d-flex align-items-center">
        <div class="col-md-7 col-lg-8">
            <p class="text-center text-md-left">© 2020 Copyright:
                <a href="#">
                    <strong>turismoeverest.com</strong>
                </a>
            </p>

        </div>

        <!-- Social media -->
        <div class="col-md-5 col-lg-4 ml-lg-0">
            <div id="social-media-icons" class="text-center text-md-right">
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                        <a href="#" class="btn-floating btn-sm rgba-white-slight mx-1">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="btn-floating btn-sm rgba-white-slight mx-1">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="btn-floating btn-sm rgba-white-slight mx-1">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>